.header{
  display: flex;

  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  gap: 1rem;
}
